<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Generate</title>

    <style>
        .container{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    </style>

</head>
<body>
<div class="container">
    <img src="{{ url }}" alt="Your internet connection may be lost" style="width: 30%; height: 30%; padding: 15px">

    <button style="background-color: aqua; height:36px; width: 150px; padding: 10px;margin: 15px;border-radius: 5px;cursor: pointer;"
            onclick="location.href='{% url 'getdata' %}'">
        Press To Load More
    </button>
</div>
</body>
</html>